<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quaks Collectibles &#8211;BEST IN TOWN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Icons Css -->
    <link rel="stylesheet" href="assets/css/vendor/linearicons.min.css">
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-all.min.css">

    <!-- Animation Css -->
    <link rel="stylesheet" href="assets/css/plugins/animation.min.css">

    <!-- Slick Slier Css -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">

    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Easyzoom CSS -->
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>