
    <!--  offcanvas Minicart Start -->
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-menu-inner">
            <div class="close-btn-box">
                <a href="#" class="btn-close"><i class="icon-cross2"></i></a>
            </div>
            <div class="minicart-content">
                <ul class="minicart-list">
                    <li class="minicart-product text-uppercase">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="assets/images/product/small/cart-01.webp" alt="Product Image">
                        </a>
                        <div class="product-item_content text-uppercase">
                            <a class="product-item_title" href="product-details.html">Collectible 1</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity text-uppercase">Price: <span> $20.00</span></label>
                        </div>
                    </li>
                    <li class="minicart-product text-uppercase">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="assets/images/product/small/cart-02.webp" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title text-uppercase" href="product-details.html">Collectible 2</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity text-uppercase">Price: <span> $20.00</span></label>
                        </div>
                    </li>
                    <li class="minicart-product text-uppercase">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="assets/images/product/small/cart-03.webp" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title text-uppercase" href="product-details.html">Collectible 3</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity text-uppercase">Price: <span> $20.00</span></label>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="minicart-item_total">
                <span class="font-weight--reguler text-uppercase">Subtotal:</span>
                <span class="ammount font-weight--reguler text-uppercase">$60.00</span>
            </div>
            <div class="minicart-btn_area">
                <a href="cart.html" class="btn btn--full btn--border_1 text-uppercase">View cart</a>
            </div>
            <div class="minicart-btn_area">
                <a href="checkout.html" class="btn btn--full btn--black text-uppercase">Checkout</a>
            </div>
        </div>

        <div class="global-overlay"></div>
    </div>
    <!--  offcanvas Minicart End -->

