    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
        <div class="mobile-menu-overlay__inner">
            <div class="mobile-menu-close-box text-start">
                <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"> <i class="icon-cross2"></i></span>
            </div>
            <div class="mobile-menu-overlay__body">

                <nav class="offcanvas-navigation text-uppercase">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="collection.html">All Collectibles</a></li>
                        <!-- <li><a href="/ownership.html">Ownership</a></li> -->
                        <li class="has-children">
                            <a href="#">Ownership</a>
                            <ul class="sub-menu">
                                <li><a href="ownership.html"><span>Collectibles 1 Ownership</span></a></li>
        
                            </ul>
                        </li>
                        <li><a href="collection.html">Contact Us</a></li>
                        <li><a href="#">Help & Information</a></li>
                    </ul>
                </nav>

                <div class="mobile-menu-contact-info section-space--mt_60 text-uppercase">
                    <p>Penang, Malaysia <br>support@quaksquaks.com <br>1234567</p>
                </div>

                <div class="mobile-menu-social-share section-space--mt_60">
                    <h6 class="text-uppercase">Follow US On Socials</h6>
                    <ul class="social-share">
                        <li><a href="#"><i class="social social_facebook"></i></a></li>
                        <li><a href="#"><i class="social social_instagram"></i></a></li>

                    </ul>
                </div>


            </div>


        </div>


    </div>
    <!--====================  End of mobile menu overlay  ====================-->

