    <!--====================  header area ====================-->
    <div class="header-area header-area--default bg-white">

        <!-- Header Bottom Wrap Start -->
        <header class="header-area header_height-90 header-sticky">
            <div class="container-fluid container-fluid--cp-100">
                <div class="row align-items-center">



                    <div class=" col-lg-4 col-md-4 d-none d-md-block ">
                        <!-- navigation menu -->
                        <div class="header__navigation d-none d-lg-block">
                            <nav class="navigation-menu d-flex align-items-center text-uppercase font-weight--bold">
                                <ul class="justify-content-center">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="/collection.html">All Collectibles</a></li>
                                    <!-- <li><a href="/ownership.html">Ownership</a></li> -->
                                    <li class="has-children has-children--multilevel-submenu">
                                        <a href="#"><span>Ownership</span></a>
                                        <ul class="submenu">
                                            <li><a href="/ownership.html"><span>Toy 1 Ownership</span></a></li>
                                        </ul>

                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-6 ">
                        <div class="logo text-md-center">
                            <a href="index.html"><img src="assets/images/logo/logo.png" width="150" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="header-right-side text-end">
                            <!-- <div class="header-right-items  d-none d-md-block">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="icon-user"></i>
                                </a>
                            </div> -->
                            <div class="header-right-items">
                                <a href="#miniCart" class=" header-cart minicart-btn toolbar-btn header-icon">
                                    <i class="icon-bag2"></i>
                                    <!-- <span class="item-counter">3</span> -->
                                </a>
                            </div>

                            <div class="header-right-items d-block d-md-none ">
                                <!--  d-block d-md-none -->
                                <a href="#" class="mobile-navigation-icon" id="mobile-menu-trigger">
                                    <i class="icon-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->
